body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #252519;
  margin: 0; padding: 0;
  background-color: #EDEDE8;

}

header.ribbon{
	height: 7px;
	width: 100%;
	top: 0;
	z-index: 100;
	background-color: #D92A20;
	position: fixed;
}

h1, h2, h3, h4, h5, h6, .sidebar{
	font-family: 'Cantarell', sans-serif;
	color: #333;
}

a:hover{
	color: #D92A20;
}

pre{
	font-size: 12px;
}


strong{
	color: #D92A20;
	font-style: normal;
	font-weight: normal;
}

.container{
	margin-top: 60px;
}

.sidebar{
	text-align: right;
}

.sidebar img.logo{
	margin-bottom: 16px;
}

.sidebar nav{
	position: fixed;
	width: 160px;
}

.sidebar a{
	text-decoration: none;
	/*color: #555;
	font-weight: bold;*/
}

.sidebar h3{
	font-weight: bold;
	margin-bottom: 12px;
}

.content h1{
	font-size: 60px;
	line-height: 69px;
}

li.min{
	font-size: 0.8em;
	font-weight: regular;
}

pre{
	font-family: Cousine, monospace;
}

.code.row{
	margin-bottom: 0px;
}

.annotated td.code{
	background-color: #E6E6E5;
	border-left: 1px solid #C2C2C2;
	padding: 5px 12px;
}

.annotated tr:first-child td:last-child{
	border-top-right-radius: 5px;
}

.annotated tr:last-child td:last-child{
	border-bottom-right-radius: 5px;
}

.annotated td.comment{
	padding: 5px 15px 5px 0px;
	font-size: 13px;
}

.annotated td.comment p{
	text-align: left;
}

.annotated td.comment *{
	font-family: "PT Sans Caption";
}

h2>span{
	font-size: 0.5em;
	color: #999;
	vertical-align: middle;
}

.raw_code{
	display: none;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    header h1 { font-size: 42px !important; line-height: 46px !important; }
    nav { position: relative; }
    .sidebar { display: none; }
    #logo { display: none; }
    pre{
    	line-height: normal;
    	font-size: 12px;
    }
}

/* Mobile Landscape */
/*@media only screen and (min-width: 480px) and (max-width: 767px) {
    nav ul { display: none; }
}*/

/* Non 960 */
@media only screen and (max-width: 959px) {
    #logo { 
        font-size: 21px;
        margin-bottom: 15px; }
    .raw_code{
    	display: block;
    }
    .annotated{
    	display: none;
    }
}