
body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #252519;
  margin: 0; padding: 0;
  background-color: #EDEDE8;
  background-image: url('../images/dips-inset.png'), url('../images/wood-dark.jpg');
  background-repeat: no-repeat, repeat;
  background-position: bottom center, top left;
}

header.ribbon{
	height: 0px;
	width: 100%;
	top: 0;
	z-index: 100;
	background-color: #D92A20;
	/*position: fixed;*/
}

h1, h2, h3, h4, h5, h6, .sidebar{
	font-family: 'Cantarell', sans-serif;
	color: #333;
}

a:hover{
	color: #D92A20;
}

pre{
	font-size: 12px;
}


strong{
	color: #D92A20;
	font-style: normal;
	font-weight: normal;
}

.container{
	margin-top: 30px;
	margin-bottom: 120px;
	padding: 30px 14px;
	/*background-image: url('../images/background.jpg');*/
	/*background-color: #F7F7F7;*/
	/*border: 1px solid #a9a9a9*/
	border-width: 13px 9px 9px 9px;
	-webkit-border-image: url('../images/right-corner-books.png') 13 9 9 9 repeat repeat;
	border-image: url('../images/right-corner-books.png') 13 9 9 9 repeat;
}

.sidebar{
	text-align: right;
}

.sidebar img.logo{
	margin-bottom: 16px;
}

.sidebar nav{
	/*position: fixed;
	width: 160px;*/
}

.sidebar a{
	text-decoration: none;
	/*color: #555;
	font-weight: bold;*/
}

.sidebar h3{
	font-weight: bold;
	margin-bottom: 12px;
}

.content h1{
	font-size: 4.3em;
	line-height: 1.2em;
}

li.min{
	font-size: 0.8em;
	font-weight: regular;
}

pre{
	font-family: Cousine, monospace;
}

.code.row{
	margin-bottom: 0px;
}

.annotated td.code{
	background-color: #E6E6E5;
	border-left: 1px solid #C2C2C2;
	padding: 5px 12px;
}

.annotated tr:first-child td:last-child{
	border-top-right-radius: 5px;
}

.annotated tr:last-child td:last-child{
	border-bottom-right-radius: 5px;
}

.annotated td.comment{
	padding: 5px 15px 5px 0px;
	font-size: 13px;
}

.annotated td.comment p{
	text-align: left;
}

.annotated td.comment *{
	font-family: "PT Sans Caption";
}

h2>span{
	font-size: 0.5em;
	color: #999;
	vertical-align: middle;
}

.raw_code{
	display: none;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    header h1 { font-size: 42px !important; line-height: 46px !important; }
    nav { position: relative; }
    .sidebar { display: none; }
    #logo { display: none; }
    pre{
    	line-height: normal;
    	font-size: 12px;
    	white-space: pre-wrap;
    }
}

/* Mobile Landscape */
/*@media only screen and (min-width: 480px) and (max-width: 767px) {
    nav ul { display: none; }
}*/

/* Non 960 */
@media only screen and (max-width: 959px) {
    #logo { 
        font-size: 21px;
        margin-bottom: 15px; }
    .raw_code{
    	display: block;
    }
    .annotated{
    	display: none;
    }
}

/*Nivo Slider*/

.slider {
    position:relative;
    width:640px; /* Change this to your images width */
    height:480px; /* Change this to your images height */
    background:url(../images/loading.gif) no-repeat 50% 50%;
    margin-bottom: 60px;
    margin: 0 auto 60px auto;
}
.slider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.slider a {
    border:0;
    display:block;
}