{% extends "skeleton.html" %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="stylesheets/dips.css" type="text/css" media="screen" />
<link rel="stylesheet" href="stylesheets/pygments.css" type="text/css" media="screen" />
<link rel="stylesheet" href="stylesheets/nivo-slider.css" type="text/css" media="screen" />
<<link rel="stylesheet" href="stylesheets/default.css" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Cousine:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Cantarell:regular,italic,bold,bolditalic&amp;v1" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold&amp;v1" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans+Caption:regular,bold&amp;v1" rel="stylesheet" type="text/css">


{% endblock %}

{% block extra_scripts%}
  <script src="javascripts/jquery.nivo.slider.pack.js" type="text/javascript"></script>
{% endblock %}

{% block header %}
  <header class="ribbon">
  </header>
{% endblock %}

{% block content %}
  <div class="three columns sidebar">
    <nav>
    <img class="logo" src="images/dips.png" alt="logo" />
      <h3 id="logo">Dips</h3>
      <ul>
        {% for item in items %}
          {% if item.type == "text" %}
          <li><a href="#{{ item.name|sws }}">{{ item.name }}</a></li>
          {% elif item.type == "code" %}
          <li class="min">{{ item.language }}: <a href="#{{ item.name|sws }}">{{ item.name }}</a></li>
          {% endif %}
        {% endfor%}
      </ul>
    </nav>
    &nbsp;
  </div>

  <div class="twelve columns content offset-by-one">
    <header>
      <h1 class="remove-bottom">Distributed implementation of the Peersim Simulator</h1>
      <!--<hr />-->
    </header>

    {% for item in items %}
      <div id="{{ item.name|sws }}">
        {% if item.type == "text" %}
          <h2>{{ item.name }}</h2>
          {{ item.html }}
        {% elif item.type == "code" %}
          
          <h2>{{ item.name }} <span class="tag">&nbsp;({{ item.language }})</span></h2>
          <table class="annotated">
            <tbody>
          {% for annotation in item.annotated_code %}
            {#<!--<div class="row clearfix code">
              <div class="five columns alpha comment">
                {% if code[0] %}
                  {{ code[0] }}
                {% else %}
                  &nbsp;
                {% endif %}
              </div>
              <div class="seven columns omega">
                {{ code[1] }}
              </div>
            </div>-->#}
              <tr>
                <td class="comment">{{ annotation[0] }}</td>
                <td class="code">{{ annotation[1] }}</td>
              </tr>

          {% endfor%}
            </tbody>
          </table>
          <div class="raw_code">
            {{ item.code }}
          </div>
        {% endif %}
        
        
        {% if not loop.last %}<hr />{% endif %}
      </div>
    {% endfor %}

    <div class="slider-wrapper theme-default">
      <div class="slider">
        <img src="images/slides/terminate_1_naife.png" alt="" title="Naife protocol" />
        <img src="images/slides/terminate_2_naife.png" alt="" />
        <img src="images/slides/terminate_3_naife.png" alt="" />
        <img src="images/slides/terminate_4_naife.png" alt="" />
        <img src="images/slides/terminate_5_naife.png" alt="" />
      </div>
    </div>
  </div>
{% endblock %}